alias: shelly_refresh_input
description: ""
triggers:
  - trigger: homeassistant
    event: start
  {% for device in devices %}

  - trigger: state
    entity_id: binary_sensor.{{ device }}_input_0
    to: unavailable

  - trigger: state
    entity_id: binary_sensor.{{ device }}_input_0
    to: unknown

  {% endfor %}

conditions: []
actions:
  - delay:
      hours: 0
      minutes: 1
      seconds: 0
      milliseconds: 0
  {% for device in devices %}

  - alias: {{ device }}
    choose:
      - conditions:
          - condition: state
            entity_id: binary_sensor.{{ device }}_input_0
            state: "on"
        sequence: []
      - conditions:
          - condition: state
            entity_id: binary_sensor.{{ device }}_input_0
            state: "off"
        sequence: []
    default:
      - action: mqtt.publish
        data:
          topic: shellies/{{ device }}/rpc
          payload: "{\"id\":1, \"src\":\"homeassistant\", \"method\":\"Shelly.Reboot\"}"
          qos: "1"
          retain: false
      - delay:
          hours: 0
          minutes: 0
          seconds: 5
          milliseconds: 0

  {% endfor %}

mode: queued
max: 10
